<html>
<head>
    <title>PMS</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <script src="/bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Wide card with share menu button -->
    <style>
        .demo-card-wide.mdl-card {
            padding-top: 52px;
            width: 100%;
        }
        
        .search {
            padding: 10px;
        }
        
        @media print {
            .search, .print {
                display: none;
            }
        }

    </style>


</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">  <div class="navbar-header"> <div> <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/crime">Add A crime</a></li>
        <li><a href="/items">Add Items</a></li>
        <li><a href="/officers">Add Officers</a></li>
        <li><a href="/block">Block Supervision</a></li>
        <li><a href="/prescription">Add Prescription</a></li>
        <li><a href="/visitors">Visitors</a></li>
        <li><a href="/prisoners">Add Prisoners</a></li>
        <li><a href="http://localhost/phpmyadmin/db_structure.php?server=1&db=prison_management_system&token=807685a9e34dd95464400a9c09a0be4a">Database</a></li>
    </ul>
</div></div>
</nav>

<div class="container">
    <div class="row search">
        <form action="/search" method="post">
        <div class="col-lg-10">
         <input class="col-lg-10 form-control" type="text" name="search" placeholder="Enter search query" />
         </div>
         <div class="col-lg-2">
             <button class="btn btn-primary" type="submit">Search</button>
         </div>
        </form>
    </div>
    
    {{#each prisoners}}
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="h4">Block Name -> {{block_name}}</div>
            <br>
            <div class="h4">Date Of Imprisonment -> {{date_of_joining}}</div>
            <br>
            <div class="h4">Date of Release -> {{date_of_release}}</div>
            <br>
            <div class="h4">Possesion <span class="panel"> {{#each items}}
                <span class="label label-default">{{name}}</span>
            {{/each}}</span>
            <br> </div>
           
            <div class="h4">
                Crimes Commited
                <span class="panel">{{#each crimes}}
                <div class="label label-default">{{name}}</div>
            {{/each}}</span>
            </div>
            

        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Criminal
            </a>
        </div>
    </div>
    {{/each}}
    
    <div class="row print">
    <div class="container">
        <button onclick="window.print()" class="col-lg-12 btn btn-primary" type="print">Print</button>
    </div>
</div>
</div>



</body>
</html>